:host {
    float: left;
    height: auto;
}

.item-container {
    height: 300px;
    float: left;
    color: white;
    font-size: 25;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
